apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: linkding
  name: linkding
  namespace: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      containers:
      - image: ghcr.io/sissbruecker/linkding:1.44.2 
        name: linkding
        ports:
          - containerPort: 9090
        env:
          - name: LD_SUPERUSER_NAME
            value: "admin"
          - name: LD_SUPERUSER_PASSWORD
            value: "admin"
          - name: LD_SUPERUSER_EMAIL
            value: "admin@example.com"

